.change-pass {
    display: grid;
    place-items: center;
}

.change-pass form > div {
    margin: 1rem;
    display: grid;
}

.change-pass button {
    width: 100%;
    margin-block: 1rem;
}

.change-pass > .card > label {
    display: block;
    text-align: center;
}